/*TEXTOS*/


h1{ 
    text-align:center;
    text-size:100px;
}


/*CAPAS*/


#contenedor{
    with:600px;
    padding:20px;
    margin:0 auto;
    overflow:auto;
}

#arriba{
    width:100%;
}

#izquierda{ 
    width:40%;
    float:left;
    text-size:100px;
}

#derecha{
    width:40%;
    float:right;
}


/*IMAGENES*/
    

img{
    height:100;
    width:100;
}
