/*TEXTOS*/


h1{ 
    text-align:center;
    text-size:100px;
}
#primeracapa{
    width:210%;
}
#segundacapa{ 
    width:40%;
    float:left;
    text-size:140px
}
#terceracapa{
    width:40%;
    float:right;
}

/*IMAGENES*/

.imagenprincipal{ 
 
}
    
